{{ partial "head.html" . }}

<div class="container mx-auto p-10 min-h-screen">

<div class="w-full mb-20">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="">Name</th>
                    <th class="">Main Responsiblity</th>
                    <th class="">Also helped with</th>
                </tr>
            </thead>
            <tbody>
                {{ $members := where .Site.Pages "Type" "team-members" }}
                {{ $members := $members | intersect ( where .Site.Pages "Params.name" "!=" nil ) }}
                {{ $members := sort $members "Params.name" }}

                {{ range $members }}

                {{ if ne .Params.responsible "PI" }}
                <tr class="">
                    <td class="">{{ .Params.name }}</td>
                    <td class="">{{ .Params.responsible }}</td>
                    <td class="">{{ .Params.helped }}</td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
</div>

{{ .Content }}

<!-- Attributions -->
{{ $attributions := where .Site.Pages "Type" "attributions"}}
{{ $attributions := $attributions | intersect ( where .Site.Pages "Params.name" "!=" nil ) }}
{{ $attributions := sort $attributions "Params.name" }}
{{ $categories := slice }}
{{ range $attributions }}
    {{ $categories = $categories | append .Params.category }}
{{ end }}

{{ range $categories }}
<div class="my-10">
<!-- TODO: Pack this in an accordion -->
<h3 class="my-10">{{ . }}</h3>

{{ range where $attributions "Params.category" . }}
<div class="my-5">
    <strong>{{ .Params.name }}</strong>
    <div>{{ .Params.for }}</div>
</div>
{{ end }}
</div>
{{ end }}

</div>

{{ partial "footer.html" . }}