<div id="allerGEM" class="floating-box">

{{ $tf := resources.Get "js/tf.min.js" | minify | fingerprint }}

<script src="{{ $tf.Permalink }}" {{ printf "integrity=%q" $tf.Data.Integrity | safeHTMLAttr }}></script>

<script>
    function resetAllerGEMStatus() {
        var status = document.getElementById("status");
        status.textContent = "";
        var sequence = document.getElementById("sequence").value;
        sequence = sequence.toUpperCase().replace(/(\n|\r\s\t)/g, '');
        document.getElementById("sequence").value = sequence;
    }
    function markCalculating() {
        var status = document.getElementById("status");
        var a = document.getElementById("crunching").outerHTML;
        status.innerHTML = a;
    }
    function markAllergenStatus(allergenity) {
        var status = document.getElementById("status");
        var thresh = 0.5;
        if (allergenity > thresh) {
            var c = (allergenity - thresh) / (1-thresh);
            var a = document.getElementById("allergen").outerHTML;
            status.innerHTML = a.replace("{allergenity}", allergenity).replace("{certainty}", (c * 100).toFixed(1));
        } else {
            var c = 1 - allergenity / thresh;
            var a = document.getElementById("non-allergen").outerHTML;
            status.innerHTML = a.replace("{allergenity}", allergenity).replace("{certainty}", (c * 100).toFixed(1));
        }
    }
    function showError(msg) {
        var status = document.getElementById("status");
        status.textContent = "Error: " + msg;
    }
    async function predict(sequence) {
        // Forget the previous result
        markCalculating();
        // Load model and encode sequence
        var model = await tf.loadLayersModel('{{ .Get "model" }}');
        var oh = tf.tensor([onehot(sequence)]);
        // Predict
        var result = model.predict(oh).dataSync();
        // Return result
        return result;
    }        
    function makePrediction() {
        var sequence = document.getElementById("sequence").value;
        sequence = sequence.toUpperCase().replace(/(\n|\r\s\t)/g, '');
        // TODO: Preprocess sequence
        for (var i=0; i<sequence.length; ++i) {
            if (aa1.indexOf(sequence[i]) < 0) {
                showError("Invalid protein sequence");
                return;
            }
        }
        // Make the prediction
        predict(sequence).then(markAllergenStatus);
    }
    var longest = 16384;
    // Make the map for the one hot coding
    var aa1 = ["A", "C", "D", "E", "F", "G", "H", "I", "K", "L", "M", "N", "P", "Q", "R", "S", "T", "V", "W", "Y"];
    var aa2int = {};
    for (var i=0; i<aa1.length; ++i) {
        aa2int[aa1[i]] = i;
    }
    // One hot coding
    function onehot(seq) {
        var oh = [];
        for (var i=0; i<longest; ++i) {
            var x = [];
            for (var j=0; j<20; ++j) {
                x.push(0);
            }
            oh.push(x);
        }
        for (var i=0; i<seq.length; ++i) {
            oh[i][aa2int[seq[i]]] = 1;
        }
        return oh;
    }
</script>

<textarea id="sequence" onchange="resetAllerGEMStatus()" onkeyup="resetAllerGEMStatus()" class="bg-gray-100 font-mono outline-none border-transparent w-full p-4 rounded-lg my-2 h-56"></textarea>

<div style="height: 6rem">
<div class="float-left mt-4">
<button class="outline-none fancy-btn-blue px-6 py-2 text-white" onclick="makePrediction()">Predict</button>
</div>

<div class="float-left ml-8" id="status"></div>

<div class="clearfix"></div>
</div>

</div>