<div class="bg-blue font-bold text-sm text-center text-white p-5">
This is a developer version and not final
</div>
<nav class="border flex justify-between items-center w-full sticky pin-t bg-white">
   
    <div class="ml-10 p-4">
        {{.Site.Title}}
    </div>

    <div class="hidden lg:block mr-10">
        <a class="inline-block text-sm uppercase text-grey-darker font-bold no-underline -mb-px p-5 border-b border-transparent hover:border-blue" href="#">Team</a>
        <a class="inline-block text-sm uppercase text-grey-darker font-bold no-underline -mb-px p-5 border-b border-transparent hover:border-blue" href="#">Project</a>
        <a class="inline-block text-sm uppercase text-grey-darker font-bold no-underline -mb-px p-5 border-b border-transparent hover:border-blue" href="#">Parts</a>
        <a class="inline-block text-sm uppercase text-grey-darker font-bold no-underline -mb-px p-5 border-b border-transparent hover:border-blue" href="#">Human Practices</a>
        <a class="inline-block text-sm uppercase text-grey-darker font-bold no-underline -mb-px p-5 border-b border-transparent hover:border-blue" href="#">Awards</a>
        <a class="inline-block text-sm uppercase text-grey-darker font-bold no-underline -mb-px p-5 border-b border-transparent hover:border-blue" href="#">Judging Form</a>
    </div> 

</nav>