<!DOCTYPE html>
<html>
<head>

    {{ $fontawesome := resources.Get "css/fontawesome.css" }}
    {{ $style := resources.Get "css/styles.css" | resources.PostCSS (dict "config" "./assets/css/dev/postcss.config.js" ) }} 

        <link rel="stylesheet" href="{{ $style.Permalink }}">
        <!--<link rel="stylesheet" href="{{ $fontawesome.Permalink }}">-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {{ $mainScript := resources.Get "js/main.js" }}
    {{ $jquery := resources.Get "js/jquery-3.4.1.min.js" }}
    {{ $js := slice $jquery $mainScript | resources.Concat "js/bundle.js" | minify }}

    <script src="{{ $js.Permalink }}"></script>
</head>
<body class="font-sans antialiased bg-grey-lightest">

{{ partial "header.html" . }}